@use './../../../../Fonts.scss' as fonts;

.about_data{
  position: relative;
  padding: 80px 0;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw + 1px);
    max-width: 1920px;
    height: 100%;
    background: #FFFAF3;
  }

  .content{
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .item{
      position: relative;
      width: 25%;

      &:before{
        content: '';
        position: absolute;
        top: 50%;
        right: -1px;
        transform: translateY(-50%);
        width: 2px;
        height: 107px;
        background: #C6A557;
        opacity: .57;
      }
      &:last-child:before{
        display: none;
      }

      .icon{
        width: 133px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0 auto 20px;

        img{}
      }
      .text{
        display: flex;
        flex-direction: column-reverse;
        max-width: 200px;
        margin: 0 auto;
        
        h3{
          font-size: 16px;
          line-height: 19px;
          font-weight: 400;
          color: #555454;
          margin: 0;
          text-align: center;
        }
        p{
          font-family: fonts.$Montserrat !important;
          color: #1C1C1C;
          font-size: 38px;
          font-weight: bold;
          line-height: 46px;
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 1100px){
    padding: 50px 0;

    .content{
      max-width: 700px;
      margin: 0 auto;
      gap: 15px 0;

      .item{
        width: 50%;

        &:nth-child(2):before{
          display: none;
        }
      }
    }
  }
  @media (max-width: 550px){
    .content{
      .item{
        width: 100%;
        padding: 10px 0 35px;

        &:before{
          right: initial;
          left: 50%;
          transform: translateX(-50%);
          top: initial;
          bottom: 0;
          width: 107px;
          height: 2px;
        }
        &:nth-child(2):before{
          display: block;
        }
        &:last-child{
          padding-bottom: 0;
        }
      }
    }
  }
}