$delay: 0.8s;

.icon_logo{
  pointer-events: none;
  svg{
    width: 100%;
    height: auto;
  }
  &.notLoaded{
    *{
      fill: #dfdfdf;
      transition: all 0.5s ease-in-out;
      transition-delay: 0s !important;
      opacity: 0;
      transform: translateY(5px);
    }
    .part2{
      transform: translateX(-10px);
    }
    .part3, .part4{
      transform: translateX(10px);
    }
  }
  &.loaded{
    *{
      fill: color;
      transition: all 0.5s ease-in-out;
    }
  }

  .part1{
    transition-delay: calc($delay * 0);
  }
  .part2{
    transition-delay: calc($delay * 0.25);
  }
  .part3{
    transition-delay: calc($delay * 0.5);
  }
  .part4{
    transition-delay: calc($delay * 0.5);
  }
  .part5{
    transition-delay: calc($delay * 1.25);
  }
}